*.o
*.so
*.a
*.d
*.patch
*.vscode
*.dep
*.obj

single_pipe_vin_isp_vse/single_pipe_vin_isp_vse
multi_pipe_vin_isp_vse/multi_pipe_vin_isp_vse
single_pipe_vin_isp_vse_vpu/single_pipe_vin_isp_vse_vpu
single_pipe_vin_isp_gdc/single_pipe_vin_isp_gdc
single_pipe_vin_isp_vse_gdc/single_pipe_vin_isp_vse_gdc
multi_pipe_crop_and_stitch/multi_pipe_crop_and_stitch
multi_pipe_vin_isp_vse_gpu2d/multi_pipe_vin_isp_vse_gpu2d
sample_custom_capbuf/sample_custom_capbuf
single_pipe_vin_isp_vse_gpu2d/single_pipe_vin_isp_vse_gpu2d
single_pipe_vin_isp_vse_vo/single_pipe_vin_isp_vse_vo
single_pipe_vin_isp_vse_quickstart_display/single_pipe_vin_isp_vse_quickstart_display
mp4_decode_and_display/mp4_decode_and_display
single_format_convert_gpu2d/single_format_convert_gpu2d
single_pipe_vin_isp_vse_multi_process/single_pipe_vin_isp_vse_process
single_pipe_vin_isp_vse_multi_process/single_pipe_vin_isp_vse_hdmi
single_pipe_vin_isp_vse_multi_process/single_pipe_vin_isp_vse_encode
single_pipe_vin_isp_vse_bpu/single_pipe_vin_isp_vse_bpu
